
<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Butterlist</strong> by <strong>Noel, Wyatt and Paige</strong>. The source code is
        <a href="https://butter-baked-goods.myshopify.com/">BUTTERY</a>. The website content
        is also <strong> very </strong>buttery.
      </p>
      <p>
        <a class="icon" href="https://github.com/nanstey/butterlist">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>
</html>