<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Butterlist</title>
    <meta charset="utf-8">
  <!-- Stylesheet llinks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/6.0.0/normalize.min.css" type="text/css">
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Sofia" rel="stylesheet">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css">
    <link rel="stylesheet" href="/styles/partials.css" type="text/css">

  <!-- Link CDNs -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>

  </head>

  <nav id="nav-bar">
    <img src="/images/logo.png" id="logo">
    <span id="butter-title">Butterlist</span>

<!-- IF NO USER SHOW LOGIN/REGISTER BAR ELSE LOGOUT BUTTON -->
    <% if (!locals.user) { %>
      <!-- <a class="button is-primary" id="logout-button"><i class="fa fa-user" aria-hidden="true"></i>  Login / Register</a> -->
    <% } else { %>
        <form action="/logout" method="POST" id="logout-form">
          <button class="button is-primary" id="logout-button"><i class="fa fa-user" aria-hidden="true"></i>  Logout</a>
        </form>

    <% } %>

  </nav>