  <% include ./_header.ejs %>
  <body>
    <main id="container">
      <form id="inputForm">
        <div class="field">
          <p class="control">
            <input class="input is-medium" id="inputQuery" type="text" placeholder="Add some buttery things...">
            <button class="button is-primary" id="add-item">Add Item</button>
          </p>
        </div>
      </form>

      <div class="columns is-gapless categories">
      </div>
    </main>


    <% include ./_footer.ejs %>
  </body>
</html>



