  <% include ./_header.ejs %>
  <body>
    <main id="container">
      <div class="field">
        <p class="control">
        <input class="input is-medium" id="list-input" type="text" placeholder="Add some buttery things...">
        </p>
      </div>
      <div class="columns is-gapless">
        <div class="column" id="movies">
          <i class="fa fa-ticket" aria-hidden="true"></i> Movies & TV Shows
          <i class="fa fa-plus" aria-hidden="true"></i>
          <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="column" id="restaurants">
          <i class="fa fa-cutlery" aria-hidden="true"></i>  Restaurants
          <i class="fa fa-plus" aria-hidden="true"></i>
          <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="column" id="books">
         <i class="fa fa-book" aria-hidden="true"></i> Books
         <i class="fa fa-plus" aria-hidden="true"></i>
         <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
        <div class="column" id="products">
         <i class="fa fa-shopping-bag" aria-hidden="true"></i> Products
         <i class="fa fa-plus" aria-hidden="true"></i>
         <i class="fa fa-minus" aria-hidden="true"></i>
        </div>
      </div>
        <a class="button is-primary" id="completed"><i class="fa fa-check-square-o" aria-hidden="true"></i>
        SHOW COMPLETED TO DOS
        <i class="fa fa-plus" aria-hidden="true"></i>
        <i class="fa fa-minus" aria-hidden="true"></i></a>
    </main>


    <% include ./_footer.ejs %>
  </body>
</html>



