
<% include ./_header.ejs %>


  <body>
    <h1>Mmmmm butter.</h1>
    <section class="new-item">
      <h2>Add list item</h2>
      <form id="item-form">
        <textarea class="text-area" name="text" placeholder="Butter it up."></textarea>
        <input type="submit" value="Submit" id="new-button">
      </form>
    </section>



<% include ./_footer.ejs %>

