  <% include ./_header.ejs %>
  <body>
    <main id="container">
      <div class="field">
        <p class="control">
        <input class="input is-medium" id="list-input" type="text" placeholder="Add some buttery things...">
        </p>
      </div>
      <div class="columns is-gapless">
        <div class="column" id="movies">
         Movies & TV Shows
        </div>
        <div class="column" id="restaurants">
          Restaurants
        </div>
        <div class="column" id="books">
          Books
        </div>
        <div class="column" id="products">
          Products
        </div>
      </div>
        <a class="button is-primary" id="completed">SHOW COMPLETED TO DOS</a>
    </main>


    <% include ./_footer.ejs %>
  </body>
</html>



