<% include ./_header.ejs %>

<body>
  <h2>Kenny Log Ins</h2 class="header">
  <form action="/login" method="POST" class="login">
    <p>
      <label for="email">enter email:</label>
      <input id="email" type="email" name="email">
    </p>
    <p>
      <label for="password">enter password:</label>
      <input id="password" type="password" name="password">
    </p>
    <input type="submit" value="Creamy.">
  </form>
</body>