$movies: #83dea3;
$restaurants: #F4E16E;
$books: #F8BA6C;
$products: #ff7979;
$hoverState: #FFB556;
$dark: #4a4a4a;
$link: #FFB556;
$nav-bar: #67d5e1;

/* NAV BAR */

#butter-title {
  font-family: 'Sofia', cursive;
  margin-left: 21px;
  font-size: 60px;
  position: absolute;
  line-height: 111px;
}

#nav-bar {
  position: fixed;
  height: 110px;
  width: 100%;
  background-color: $nav-bar;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 1;
}

#logo {
  width: 81px;
  margin-top: 15px;
}

.register {
  font-size: 40px;
  font-family: sofia;
  margin-bottom: 14px;
}

#logout-form {
  float: right;
}

.welcome {
  padding-top: 10px;
  padding-left: 10px;
}

/*  END OF NAV BAR */


/* CATEGORY LIST COLUMNS  */

.categories > div.category.column {
  margin: 10px;
  padding: 12px;
  border-radius: 2px;
  background-color: $nav-bar;
}

.categories > div.category.column:hover {
  opacity: .85;
}

.category-header {
  text-align: center;
}

span.category-name {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1em;
}

#movies {
  background-color: $movies;
}

#restaurants {
  background-color: $restaurants;
}

#books {
  background-color: $books;
}

#products {
  background-color: $products;
}

#music {
  background-color: $nav-bar;
}

/* END OF LIST COLUMNS  */

#inputQuery {
  margin-top: 34px;
  margin-left: 9px;
  margin-bottom: 10px;
  width: 97%;
  border-color: $nav-bar;
}

#container {
  background-color: #eff1f5;
  position: relative;
  margin: 0 auto;
  top: 75px;
  padding-top: 40px;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 60px;
}

#id-container {
  margin: 0 auto;
  width: 80%;
  max-width: 560px;
  padding-top: 125px;
  padding-bottom: 100px;
}

/*  LIST ITEM COLUMN STYLINNG */

.list-items {
  min-height: 30px;
}

.min {
  min-height: 0;
}

.list-item {
  background-color: white;
  padding: 8px;
  border-radius: 2px;
  margin: 3px;
  margin-top: 5px;
  cursor: pointer;
}

.list-item.completed {
  text-decoration: line-through;
  opacity: .5;
}

.icon{
  color: $dark;
  position: relative;
  float: left;
}

.toggler {
  @extend .icon;
  margin-right: 6px;
  float: right;
}

.delete-item {
  @extend .icon;
  float: right;
  width: 15px;
  height: 30px;
  top: 3px;
}

.link {
  @extend .icon;
  float: left;
  top: 5px;
  margin-right: 10px;
}

#git {
  float: none;
  color: $dark;
}

#git:hover {
  color: black;
}


/* BUTTONS AND BUTTON ICONS */

.fa-check-square-o:before {
  content: "\f046";
  padding-right: 5px;
}

.fa-user:before {
  content: "\f007";
  padding-right: 15px;
}

#logout-button {
  float: right;
  color:#4a4a4a;
  margin-top: 39px;
  margin-right: 5%;
  width: 170px;
  background-color: white;
}

#logout-button:hover {
  background-color: $hoverState;
}

.butter-button {
  color: white;
  margin-right: 5%;
  width: 126px;
  background-color: $nav-bar;
  margin-top: 20px;
}

.butter-button:hover {
  background-color: $hoverState;
}

#login-submit {
  @extend .butter-button;
}

#register-submit {
  @extend .butter-button;
}

#logout {
  color: white;
  width: 126px;
  background-color: $nav-bar;
}

#logout:hover {
 background-color: $hoverState;
}

.fa-check-square-o:before {
  content: "\f046";
  margin-left: 10px;
}

#goBack {
  color: white;
  margin-right: 5%;
  width: 126px;
  background-color: $nav-bar;
  float: left;
}

#goBack:hover {
  background-color: $hoverState;
}

#regLogout {
  color: white;
  margin-right: 5%;
  width: 126px;
  background-color: $nav-bar;

}

#regLogout:hover {
  background-color: $hoverState;
}

/* END OF BUTTONS AND BUTTON ICONS */

.footer {
  background-color: #cecece;
  padding: 3rem 1.5rem 2rem;
}

p.control > #add-item {
  @extend .butter-button;
  margin: 10px 10px 20px;
}

.container {
  padding-top: 4em;
}

.butter-link {
  color: $dark;
}

.butter-link:hover {
  color: Black;
}

.butter-heading {
  font-size: 1.73em;
}

@media screen and (min-width: 769px) {
  .toggler {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1049px){

  span.category-name {
    font-size: 1em;
    font-weight: 400;
  }

  .categories > div.category.column {
    margin: 4px;
    padding: 12px 4px;
  }

  .list-item {
    font-size: small;
  }
}

@media screen and (max-width: 649px) {

  #container {
    padding: 0 0 40px 0;
  }

  #butter-title {
    font-size: 50px;
    line-height: 90px;
  }

  #nav-bar {
    height: 80px;
  }

  #logo {
    width: 60px;
    margin-top: 15px;
  }

  #logout-button {
    width: 120px;
    margin-top: 28px;
  }

}

@media screen and (max-width: 500px) {

  #butter-title {
    font-size: 40px;
  }

  #nav-bar {
    padding: 0;
  }

  #logo {
    display: none;
  }

  #logout-button {
    width: 90px;
    font-size: small;
    margin-top: 32px;
  }

}