$movies: #83dea3;
$restaurants: #F4E16E;
$books: #F8BA6C;
$products: #ff7979;
$hoverState: #FFB556;
$dark: #4a4a4a;
$link: #FFB556;
$nav-bar: #67d5e1;

/* NAV BAR */

#butter-title {
  font-family: 'Sofia', cursive;
  margin-left: 21px;
  font-size: 60px;
  position: absolute;
  line-height: 111px;
}

#nav-bar {
  position: fixed;
  height: 110px;
  width: 100%;
  background-color: $nav-bar;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
  z-index: 1;
}

#logo {
  width: 81px;
  margin-top: 15px;
}

.register {
  font-size: 40px;
  font-family: sofia;
  margin-bottom: 14px;
}

#logout-form {
  float: right;
}

/*  END OF NAV BAR */

#container {

}

/* CATEGORY LIST COLUMNS  */

.categories > div.category.column {
  margin: 10px;
  padding: 12px;
  border-radius: 2px;
  background-color: $nav-bar;
}

.categories > div.category.column:hover {
  opacity: .85;
}

.category-header {
  text-align: center;
}

span.category-name {
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1em;
}

#movies {
  background-color: $movies;
}

#restaurants {
  background-color: $restaurants;
}

#books {
  background-color: $books;
}

#products {
  background-color: $products;
}

#music {
  background-color: $nav-bar;
}

/* END OF LIST COLUMNS  */

#inputQuery {
  margin-top: 50px;
  margin-left: 9px;
  margin-bottom: 10px;
  width: 97%;
  border-color: $nav-bar;
}

#container {
  background-color: #eff1f5;
  position: relative;
  margin: 0 auto;
  top: 75px;
  padding-top: 40px;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 60px;
}

#id-container {
  margin-left: 20px;
  margin-right: 350px;
  padding-top: 125px;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 150px;
}

/*  LIST ITEM COLUMN STYLINNG */

.list-items {
  min-height: 30px;
}

.list-item {
  background-color: white;
  padding: 8px;
  border-radius: 2px;
  margin: 3px;
  margin-top: 5px;
  cursor: pointer;
}

.list-item.completed {
  text-decoration: line-through;
  opacity: .5;
}

.icon{
  color: $dark;
  position: relative;
}

.toggler {
  @extend .icon;
  margin-right: 6px;
  float: right;
}

.delete-item {
  @extend .icon;
  float: right;
  width: 15px;
  height: 30px;
  top: 3px;
}

.link {
  @extend .icon;
  float: left;
  top: 5px;
  margin-right: 10px;
}


/* BUTTONS AND BUTTON ICONS */

.fa-check-square-o:before {
  content: "\f046";
  padding-right: 5px;
}

.fa-user:before {
  content: "\f007";
  padding-right: 15px;
}

#logout-button {
  float: right;
  color:#4a4a4a;
  margin-top: 39px;
  margin-right: 5%;
  width: 170px;
  background-color: white;
}

.butter-button {
  color: white;
  margin-right: 5%;
  width: 126px;
  background-color: $nav-bar;
  margin-top: 20px;
}

.butter-button:hover {
  background-color: $hoverState;
}

#login-submit {
  @extend .butter-button;
}

#register-submit {
  @extend .butter-button;
}

#logout {
  color: white;
  width: 126px;
  background-color: $nav-bar;
}

#logout:hover {
 background-color: $hoverState;
}

.fa-check-square-o:before {
  content: "\f046";
  margin-left: 10px;
}

#goBack {
  color: white;
  margin-right: 5%;
  width: 126px;
  background-color: $nav-bar;
  float: left;
}

#goBack:hover {
  background-color: $hoverState;
}

#regLogout {
  color: white;
  margin-right: 5%;
  width: 126px;
  background-color: $nav-bar;

}

#regLogout:hover {
  background-color: $hoverState;
}

/* END OF BUTTONS AND BUTTON ICONS */

.footer {
    background-color: #cecece;
    padding: 3rem 1.5rem;
}

p.control > #add-item {
  @extend .butter-button;
  margin: 10px 10px 20px;
}

.container {
  padding-top: 4em;
}